.st-draw {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ccc;
    font-size: 16px;
}

.st-draw__catch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: blue;
    border-radius: 10px;
    border: 2px solid blue;
    cursor: pointer;
}

.st-draw__catch:hover {
    background-color: #f8f8f8;
}

.st-draw__video-list {
    width: 100%;
    height: 80%;
    overflow: auto;
    list-style: none;
    padding: 0;
}

.st-draw__video-lsit__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    height: 32px;
    border-bottom: 1px solid #eee;
}

.st-draw__video-lsit__item

.st-draw__video-lsit__item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
}

.st-draw__video-lsit__item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}



