.st-draw {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ccc;
    font-size: 16px;
}

.st-draw__catch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: blue;
    border-radius: 10px;
    border: 2px solid blue;
    cursor: pointer;
}

.st-draw__catch:hover {
    background-color: #f8f8f8;
}

.st-draw__video-list {
    width: 100%;
    height: 80%;
    background-color: #fff;
    overflow: auto;
    list-style: none;
    padding: 0;
}

.st-draw__video-lsit__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    height: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.st-draw__video-lsit__item:hover {
    background-color: #eee;
}

.st-draw__video-lsit__item__left {
    display: flex;
    align-items: center;
}

.st-draw__video-lsit__item__left img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
}

.st-draw__video-lsit__item:hover 
.st-draw__video-lsit__item__operater {
    display: flex;
}

.st-draw__video-lsit__item__operater {
    display: none;
}

.st-draw__video-lsit__item__operater i {
    margin-right: 5px;
    cursor: pointer;
}

.st-draw__video-lsit__item__operater i:hover {
    opacity: 0.5;
}

/* > i {
    font-size: 16px;
}

.st-draw__video-lsit__item__operater__box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
} */



